soco_krakatau_renamed
programs
programs/sim
analysis
*.aux
*.synctex.gz
emse.pdf
*.log
*.bbl
*.blg
*.out
emse_paper/response_letter/response_letter.pdf
emse_paper/research_notes/emse_rn.pdf
emse_paper/response_letter/major_rev_24-06-2017/response_letter.pdf
emse_paper/response_letter/minor_rev_24-10-2017/response_letter.pdf
emse_paper/research_notes/emse_rn_cover.pdf
results_soco_f/thresholds/prec-at-n/
results_soco_f/thresholds/map/
results_soco_f/thresholds/0.05_100_raw/
results/thresholds/best_t/
results/thresholds/arp/
results/thresholds/map/
